.downloadButton {
    color: orange !important;
    background-color: #595959 !important;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: capitalize !important;
   
  }
  
  .smalltext {
    font-size: small !important;
  }
  
  .downloadlink {
    color: orange !important;
    margin-left: 1% !important;
    margin-bottom: 0.5% !important;
  }