
body, html {
  background-image: linear-gradient(rgba(208, 204, 198, 0.7),rgba(113, 103, 82, 0.7)),url("../images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.heading{
  font-weight: bold  !important;
  color:orange;
  margin-top: 2rem;
  perspective: 500px;
  font-size:calc(12px + 1.5vw) !important;
}

